#A {
  background-color: #c299ff;
}

#B {
  background-color: #cc99ff;
}

#C {
  background-color: #e699ff;
}

#D {
  background-color: #ff99ff;
}

#E {
  background-color: #ff99e6;
}

#F {
  background-color: #ff99cc;
}

#G {
  background-color: #ff99b3;
}

#H {
  background-color: #ff9999;
}

#I {
  background-color: #ff8c66;
}