main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#cat-container {
  border: 5px dotted pink;
  border-radius: 25px;
  padding: 10px;
  width: 300px;
  height: 325px;
  perspective: 1000px;
}

#cat {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style: preserve-3d;
}

#cat-container.on #cat {
  transform: rotateY(180deg);
}

#marie {
  background-color: white;
  position: absolute;
  border-radius: 25px;
  backface-visibility: hidden;
}

#marie img {
  width: 100%
}

#marie-flip {
  background-color: grey;
  position: absolute;
  border-radius: 25px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

#marie-flip img {
  width: 100%;
}


header {
  background-color: powderblue;
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  transition: transform 2s;
}

#title.on {
  transform: scale(.75);
}

#mouse {
  width: 300px;
}

#mouseImage {
  width: 150px;
}

#mouseImage.on {
  width: 150px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg);
  }
}

#yarn {
  width: 300px;

}

#yarnImage {
  width: 75px;
}

#yarnImage.on {
  width: 75px;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  10% {
    width: 75%;
    transform: translateY(25%);
  }
  50% {
    width: 100%;
    transform: translateY(150%);
  }
  80% {
    width: 125%;
    transform: translateX(800%);
  }
}


button {
  background-color: gray;
  margin: 20px;
  width: 200px;
  height: 50px;
  border: 2px solid black;
  border-radius: 15px;
  transition: 500ms;
}

button:hover {
  transition: 500ms;
  background-color: pink;
  font-weight: bold;
}



/* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */